<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html ng-app="gm" lang="en">
	<head>
		<title>Garrett Mark | Part Time Golfer, Full Time Student</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top" ng-controller="MainController">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
				<h1><strong>"Courage is being scared to death but saddling up anyway"</strong></h1>
				<h3 style="text-aling: right;">- John Wayne</h3>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<!-- <header class="major"> -->
							<h2>About Me</h2>
							<h3>{{ content.subheading }}</h3>
						<!-- </header> -->
						<p>{{ content.about }}</p>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Experience</h2>
						<p>{{ content.experience }}</p>
					</section>

					<section>
						<h2>Work History</h2>
						<ul style="list-style-type:square">
							<li ng-repeat="job in resume.jobHistory">
								<div>
									<h3>{{ job.name }} at {{ job.company }}</h3>
									<p>{{ job.time }}</p>
									<h4>Responsibilities</h4>
									<ul style="list-style-type:none">
										<li ng-repeat="responsibility in job.responsibilities">&mdash; {{ responsibility }}</li>
									</ul>
								</div>
							</li>
						</ul>
						<h3>Personal Projects</h3>
						<div ng-repeat="project in resume.projects">
							<h4>{{ project.name }}</h4>
							<p>{{ project.description }}</p>
						</div>
					</section>

					<section>
						<h2>Skills and Software</h2>
						<ul>
							<li ng-repeat="language in resume.languages">{{ language.name }}
								<span ng-repeat="n in [] | range:(language.level)"><img src="images/golf_club.png" height="17px" width="17px" /> </span>
								<span ng-repeat="n in [] | range:(5 - language.level)"><img src="images/golf_ball_grey.png" height="17px" width="17px" /> </span></li>
							<li ng-repeat="software in resume.software">{{ software.name }}
							<span ng-repeat="n in [] | range:(software.level)"><img src="images/golf_club.png" height="17px" width="17px" /> </span>
							<span ng-repeat="n in [] | range:(5 - software.level)"><img src="images/golf_ball_grey.png" height="17px" width="17px" /> </span></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<div class="row">
							<div class="8u 12u$(small)">
								<form name="mailForm" id="mailForm" ng-submit="submit(mailForm)">
									<div class="row uniform 50%">
										<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" ng-model="data.name" placeholder="Name" /></div>
										<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" ng-model="data.email" placeholder="Email" /></div>
										<div class="12u$"><textarea name="message" id="message" ng-model="data.message" placeholder="Under Construction" rows="4"></textarea></div>
									</div><br>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</form>
							</div>
							<div class="4u$ 12u$(small)">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
										<a href="mailto:Garrett_Mark@ben.edu">Garrett_Mark@ben.edu</a>
									</li>
									<li>
										<h3 class="icon fa-paperclip"><span class="label">Resume</span></h3>
										<a href="./assets/pdf/Garrett_Mark_Resume.pdf" target="_blank">Resume</a>
									</li>
								</ul>
							</div>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="http://www.bitbucket.org/golfgem87" class="icon fa-bitbucket"><span class="label">Github</span></a></li>
					<li><a href="mailto:Garrett_Mark@ben.edu" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					<li></li>
				</ul>
				<ul class="copyright">
					<!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
					<!-- <li>Today is: {{ today | date: 'MM/dd/yyyy' }}</li> -->
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

		<!-- Angularjs -->
			<script src="assets/js/angular.js"></script>
			<script src="assets/js/app.js"></script>
	</body>
</html>